.navbar {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo img {
    width: 150px;
  }
  .category {
    display: flex;
    list-style: none;
    gap: 15px;
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  .navbar-icons {
    display: flex;
    list-style: none;
    gap: 15px;
    li {
      height: 30px;
      width: 30px;
    }
    .bag {
      cursor: pointer;
    }
  }
.Quantity{
  background-color:#EE4623;
  position: relative;
  padding: 2px 6px;
  border-radius: 50%;
  color: wheat;
  top: -2rem;
  left: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
